{% extends "templates/base.html" %}

{% block content %}
  <div x-data="emprestimoForm()">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item active">{{title}}</li>
    </ol>
    <div class="row">
      <div class="col-12">

        <div class="card-header">
          {{tite}}

        </div>

        <div class="card-body">
          <div class="">

            {# <form @submit.prevent="submitForm"> #}
            <form>
              <div class="row">

              <div class="form-group col-md-6">
                <label for="usuario_id">Usuario ID</label>
                {# <input type="number" class="form-control" id="usuario_id" x-model="form.usuario_id"> #}
                <select class="form-select" aria-label="Default select example" id="usuario_id" x-model="form.usuario_id"
                                    name="usuario_id">                                    
                                    {% for reg in curso %}
                                      {% if (data.usuario_id === reg.usuario_id) %}                                    
                                        <option value="{{reg.usuario_id}}">{{reg.data_devolucao}}</option>
                                      {% else %}
                                        <option value="{{reg.usuario_id}}">{{reg.data_devolucao}}</option>
                                      {% endif %}
                                    {%endfor%}
                                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="cursoid">Livro ID</label>
                {# <input type="number" class="form-control" id="livro_id" x-model="form.livro_id"> #}
                <select class="form-select" aria-label="Default select example" id="livro_id" x-model="form.livro_id"
                                    name="livro_id">                                    
                                    {% for reg in curso %}
                                      {% if (data.livro_id === reg.livro_id) %}                                    
                                        <option value="{{reg.livro_id}}">{{reg.data_devolucao}}</option>
                                      {% else %}
                                        <option value="{{reg.livro_id}}">{{reg.data_devolucao}}</option>
                                      {% endif %}
                                    {%endfor%}
                                </select>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="data_emprestimo">Data de emprestimo</label>
                    <input type="date" class="form-control" id="data_emprestimo" x-model="form.data_emprestimo">
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="data_devolucao">Data de devoluçao</label>
                <input type="date" class="form-control" id="data_devolucao" x-model="form.data_devolucao">
              </div>

              <div class="form-group col-md-6">
                <label for="taxa_multa">Taxa de multa</label>
                <input type="number" class="form-control" id="taxa_multa" x-model="form.taxa_multa">
              </div>
          


                <button type="button" @click="updateForm()" class="btn btn-primary mt-4">Salvar</button>
                <button type="button" @click="deleteForm()" x-show="!disabled" class="btn btn-danger mt-4">Desmatricular</button>
                <a href="/alunos/manutAlunos" class="btn btn-info mt-4 ml-2" role="button" aria-disabled="true">Retornar</a>
              </form>

              <div class="mt-3">
                <template x-if="message">
                  <div :class="messageClass" x-text="message"></div>
                </template>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script>

      window.onload = function () {
        windowOnLoad();

        //@ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
        const localErro = "{{erro}}";
        if (localErro != "") {
          alert("[vwEprestimos|onload]Servidor retornou o erro:" + localErro);
        }
        $("#prontuario").focus();

      };

      function autorForm() {
        return {
          form: {
            usuario_id: "{{data.usuario_id}}",
            livro_id: "{{data.livro_id}}",
            data_emprestimo: "{{data.data_emprestimo}}",
            data_devolucao: "{{data.data_devolucao}}",
            taxa_multa: "{{data.taxa_multa}}",
            deleted: false
          },
          message: '',
          messageClass: '',
          disabled: {{disabled}},

          async updateForm() {
            try {
              
              //console.log("Valor na página:", JSON.stringify(this.form))
              
              const response = await fetch('/emprestimos/UpdateEmprestimos', {
                method: 'POST',
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify(this.form)
              });

              const result = await response.json();
              if (result.status == "ok") {
                alert("Emprestimo atualizado com suscesso");
              } else {
                const errorData = result.status;
                this.message = `Erro! Não foi possível atualizar os dados do Emprestimo devido ao erro: ${errorData}`;
                this.messageClass = 'alert alert-danger';
              }
            } catch (error) {
              this.message = `Erro de conexão: ${error.message}`;
              this.messageClass = 'alert alert-danger';
            }
          },

          async deleteForm() {
            try {
                console.log("Valor na página:", JSON.stringify(this.form.usuario_id))
                const response = await fetch('/emprestimos/DeleteEmprestimos', {
                  method: 'POST',
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify(this.form)
                });

                const result = await response.json();
                if (result.status == "ok") {
                  alert("Emprestimo desmatriculado com suscesso");
                  //@ Redireciona para a página de manutenção
                  window.location.href = "/emprestimos/manutEmprestimos";

                } else {
                  const errorData = result.status;
                  this.message = `Erro! Não foi possível atualizar os dados do autor devido ao erro: ${errorData}`;
                  this.messageClass = 'alert alert-danger';
                }

            } catch (error) {
              this.message = `Erro de conexão: ${error.message}`;
              this.messageClass = 'alert alert-danger';
            }
          },

          resetForm() {
            this.form = {
              usuario_id: "{{data.usuario_id}}",
                livro_id: "{{data.livro_id}}",
                data_emprestimo: "{{data.data_emprestimo}}",
                data_devolucao: "{{data.data_devolucao}}",
                taxa_multa: "{{data.taxa_multa}}",
                deleted: false
            };
            this.message = false;
          }
        };
      }
    </script>

  {% endblock %}