{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Manutenção de Livros
      </div>

      <div class="card-body">
        <div class="">
          <div style="margin-bottom: 15px;">
            <a href="/livros/InsertLIvros" class="btn btn-primary">
              Inserir novo livro
            </a>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabLivros" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>Titulo</th>
                   <th>Preco</th>
                  <th>data_publicacao</th>
                  <th>autor_id</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      {# Link para visualização dos dados #}
                      <a href="/livros/viewLivros/{{ reg.id }}"  title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>

                      {# Link para atualuzação e remoção dos dados#}
                      <a href="/livros/UpdateLivros/{{ reg.id }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{reg.titulo}}</td>
                    <td>{{reg.preco}}</td>
                    <td>{{reg.data_publicacao}}</td>
                    <td>{{reg.autor_id}}</td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

    window.onload = function () {
      windowOnLoad();
      //@ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
      const localErro = "{{erro}}";
      if (localErro != "") {
        alert("[vwLivros|onload]Servidor retornou o erro:" + localErro);
      }

      new DataTable('#tabLivros');
    };
  </script>

{% endblock %}